<a></a>
{% extends "bootstrap/base.html" %}

{% block title %}豆瓣{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <!--导航栏-->
        <div class="container">
            <div class="navbar-header">
                <!--首页button-->
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">
                        codefrom
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a href="{{ url_for('main.index') }}" class="navbar-brand">
                    首页
                </a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <!--首页后续标签-->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://www.codefrom.com/">
                            读书
                        </a>
                    </li>
                    <li>
                        <a href="http://project.codefrom.com/">
                            电影
                        </a>
                    </li>
                    <li>
                        <a href="http://www.codefrom.com/topics">
                            个人中心
                        </a>
                    </li>
                    <li>
                        <a href="http://xinzhi.codefrom.com/about.php">
                            关于&amp;更新
                        </a>
                    </li>
                </ul>
                <!--下拉-->
                <ul class="nav navbar-nav navbar-right hidden-sm">
                {% if current_user.is_authenticated %}                
                    <li class="dropdown">
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=python#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                            <span class="caret">
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://xinzhi.codefrom.com/?m=myPaper">
                                    我收藏的书籍
                                </a>
                            </li>
                            <li>
                                <a href="http://xinzhi.codefrom.com/?m=mySite">
                                    我收藏的电影
                                </a>
                            </li>
                            <li>
                                <a href="http://www.codefrom.com/user/account">
                                    个人设置
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.logout') }}">
                            退出
                        </a>
                    </li>
                  {% else %}
                    <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                  {% endif %}
                </ul>
            </nav>
        </div>
        <!--首页BUTTON-->
    </header>
    <script src="../static/js/hm.js">
    </script>
    <script>
        var _hmt = _hmt || []; (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?53ccfdbe62119c58a7964ba3bda8ec00";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <div id="masthead">
        <!--豆腐内容-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>
                        豆腐
                    </h1>
                </div>
                <!-- <div class="col-md-8">
                <div class="demaxiya">
                <form action="http://www.douban.com/search" method="get">
                <span class="inp"><input type="text" maxlength="60" size="12"  placeholder="书籍、电影" style="font-size:20px" name="q" autocomplete="off"></span>
                <span class="bn"><input type="submit" value="豆腐一下"></span>
                </form>
                </div>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
