<a></a>
{% extends "bootstrap/base.html" %}

{% block title %}doufu{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <!--导航栏-->
    <div class="container">
        <div class="navbar-header">
            <!--首页button-->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">
                    tofu
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a href="{{ url_for('main.index') }}" class="navbar-brand">
                首页
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <!--首页后续标签-->
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        读书
                    </a>
                </li>
                <li>
                    <a href="#">
                        电影
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('.user',key=current_user.username) }}">
                        个人中心
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="#">
                        关于
                    </a>
                </li>
            </ul>
            <!--下拉-->
            <ul class="nav navbar-nav navbar-right hidden-sm">
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.username }}
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                我收藏的书籍
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我收藏的电影
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                个人设置
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">
                        退出
                    </a>
                </li>
              {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
              {% endif %}
            </ul>
        </nav>
    </div>
    <!--首页BUTTON-->
</header>
<script src="../static/js/hm.js">
</script>
<script>
    var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?53ccfdbe62119c58a7964ba3bda8ec00";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<div id="masthead"><!--豆腐内容-->
    <div class="container">
            <h1>
                    豆腐
            </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="col-md-3" class="youce">
        <!--右侧导航-->
        <hr>
        <h3>
            电影分类
        </h3>
        <hr>
        <div class="movietab">
            <a href="{{ url_for('main.tags', id=3) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    爱情
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=2) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    喜剧
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=87) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    动画
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=21) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    剧情
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=86) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    科幻
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=47) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    动作
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18725) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    经典
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=34) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    悬疑
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18726) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    青春
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=33) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    犯罪
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=151) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    惊悚
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18727) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    文艺
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=307) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    纪录片
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18728) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    搞笑
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18729) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    励志
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=1188) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    恐怖
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=94) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    战争
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=108) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    短片
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18730) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    魔幻
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18731) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    黑色幽默
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=244) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    传记
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=489) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    情色
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18732) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    动画短片
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18733) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    感人
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18734) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    暴力
                </button>
            </a> -->
            <a href="{{ url_for('main.tags', id=297) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    音乐
                </button>
            </a>
            <a href="{{ url_for('main.tags', id=41) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    家庭
                </button>
            </a>
            <!-- <a href="{{ url_for('main.tags', id=18735) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    童年
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18736) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    黑帮
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18737) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    浪漫
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18738) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    女性
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18739) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    同志
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18740) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    史诗
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18741) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    童话
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18742) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    烂片
                </button>
            </a> -->
            <!-- <a href="{{ url_for('main.tags', id=18743) }}">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    cult
                </button>
            </a> -->
        </div>
        <br>
        <br>
        <h3>
            热门书籍标签
        </h3>
        <hr>
        <div class="booktab">
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    小说
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    随笔
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    名著
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    推理
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    青春
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    言情
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    科幻
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    哲学
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    传记
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    经济学
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    管理
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    金融
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    理财
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    互联网
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-default xinzhi-home-tag">
                    编程
                </button>
            </a>
        </div>
        <br>
    </div>
    {% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
