{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "__macros.html" as macros %}

{% block title %}标签页{% endblock %}
{% block head %}
    {{ super() }}
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
    <![endif]-->
    <link href="../static/css/styles.php" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="row">
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row" style="height: 50px; padding-top: 20px;">
                                <!--标签-->
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <span class="label label-success" style="font-size: 16px;">
                                        关于
                                        <b>
                                            {{ tag.tag_name }}
                                        </b>
                                        的电影
                                    </span>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <hr>
                            {% for movietag in movietags %}
                            <div class="row">
                                <div class="col-md-2 col-sm-3 text-center">
                                    <!--左侧照片-->
                                    <a class="nbgnbg" href="http://movie.douban.com/subject/25823132/photos?type=R"
                                    title="点击看更多海报">
                                        <img src="{{ movietag.movies.image_url }}"
                                        title="点击看更多海报" onload="loadImg(this)" style="width: 100%; " alt="암살" rel="v:image">
                                    </a>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <!--右侧信息-->
                                    <h4 class="project-title">
                                        <a href="http://xinzhi.codefrom.com/?m=content&amp;pid=7271">
                                        {{ movietag.movies.name }}
                                        </a>
                                    </h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <!--<div class="project-desc">描述</div>-->
                                            <div class="project-tags" style="background-color: #a6e1ec">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="project-info">
                                                <div class="info">
                                                    <span class="pl">
                                                        类型:
                                                    </span>
                                                    <span property="v:genre">
                                                        剧情
                                                    </span>
                                                    /
                                                    <span property="v:genre">
                                                        动作
                                                    </span>
                                                    /
                                                    <span property="v:genre">
                                                        历史
                                                    </span>
                                                    /
                                                    <span property="v:genre">
                                                        犯罪
                                                    </span>
                                                    <br>
                                                    <br>
                                                    <br>    
                                                    <span class="pl">
                                                        评分:
                                                    </span>
                                                    <span>
                                                        {{ movietag.movies.star }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>




                        <div class="row">
                            <!--分页-->
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                            </div>
                        {% if pagination %}
                        <div class="pagination">
                               {{ macros.pagination_widget(pagination, '.tags', fragment='#tags', id=movietags[0].tag_id) }}
                        </div>
                        {% endif %}

                            <div class="col-md-1">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3" class="youce">
                    <!--右侧导航-->
                    <hr>
                    <h3>
                        电影分类
                    </h3>
                    <hr>
                    <div class="movietab">
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%85%A8%E6%A0%88">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                热门
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%89%8D%E7%AB%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                最新
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=android">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                经典
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%90%8E%E7%AB%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                高分
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%AE%89%E5%85%A8">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                华语
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=javascript">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                欧美
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=iOS">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                韩国
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E8%AE%BE%E8%AE%A1">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                日本
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=linux">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                动作
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=java">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                喜剧
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E6%95%B0%E6%8D%AE%E5%BA%93">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                爱情
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%A4%A7%E6%95%B0%E6%8D%AE">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                科幻
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=docker">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                悬疑
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=python">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                恐怖
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%90%8E%E7%AB%AF%E6%8A%80%E6%9C%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                动画
                            </button>
                        </a>
                    </div>
                    <br>
                    <br>
                    <h3>
                        热门书籍标签
                    </h3>
                    <hr>
                    <div class="booktab">
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%85%A8%E6%A0%88">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                小说
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%89%8D%E7%AB%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                随笔
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=android">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                名著
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%90%8E%E7%AB%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                推理
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%AE%89%E5%85%A8">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                青春
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=javascript">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                言情
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=iOS">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                科幻
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E8%AE%BE%E8%AE%A1">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                哲学
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=linux">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                传记
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=java">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                经济学
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E6%95%B0%E6%8D%AE%E5%BA%93">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                管理
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%A4%A7%E6%95%B0%E6%8D%AE">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                金融
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=docker">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                理财
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=python">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                互联网
                            </button>
                        </a>
                        <a href="http://xinzhi.codefrom.com/?m=type&amp;type=%E5%90%8E%E7%AB%AF%E6%8A%80%E6%9C%AF">
                            <button type="button" class="btn btn-default xinzhi-home-tag">
                                编程
                            </button>
                        </a>
                    </div>
                    <br>
                    <h3>
                        电影活动
                    </h3>
                    <hr>
                    <div class="xinzhi-home-comment-list">
                        <div class="xinzhi-home-comment-item">
                            <a class="xinzhi-home-comment-item-name" href="http://xinzhi.codefrom.com/?m=site&amp;sid=161">
                                有奖｜分享你变成“大侦探”的瞬间！
                            </a>
                        </div>
                        <div class="xinzhi-home-comment-item">
                            <a class="xinzhi-home-comment-item-name" href="http://xinzhi.codefrom.com/?m=site&amp;sid=160">
                                瓣我同行 | 我的豆瓣观影报告
                            </a>
                        </div>
                        <div class="xinzhi-home-comment-item">
                            <a class="xinzhi-home-comment-item-name" href="http://xinzhi.codefrom.com/?m=site&amp;sid=159">
                                资讯 | 《功夫熊猫3》曝中国正版海报
                            </a>
                        </div>
                        <p style="text-align:right">
                            <a class="xinzhi-home-comment-item-name" href="http://xinzhi.codefrom.com/?m=siteList">
                                查看更多
                            </a>
                        </p>
                    </div>
                </div>
            </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/xinzhi.js"></script>
{% endblock %}