{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}个人中心{% endblock %}
{% block head %}
    {{ super() }}
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/styles.php" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="row">
    <br><br>
    <br><br>
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                <div class="userinfo">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="#">
                                <img src="http://img3.doubanio.com/icon/user_normal.jpg">
                            </a>
                        </div>
                        <div class="col-md-11">
                            <h2>
                                {{  user.username }}
                            </h2>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="usershoucang">
                    <h2>
                        Mycollect
                    </h2>
                    <br>
                    <div class="row">
                    {% for moviecollect in moviecollects %}
                        <div class="col-md-2">
                            <a href="{{ url_for('.moviepage',id=moviecollect.collector.movie_id) }}">
                                <img src="{{moviecollect.collector.image_url}}" onload="loadImg(this)" style="width: 100%; " rel="v:image">
                                <p>
                                    {{ moviecollect.collector.name }}
                                </p>
                            </a>
                        </div>
                        {% endfor %} 
                    </div>
            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.user',username) }}
            </div>
            {% endif %}                     
                </div>
                <hr>

            {% include '_comments.html' %}

            </div>
        </div>
    </div>
    {{ super() }}
</div>
{% endblock %}
